body{
    background-color: #F3F6FB;
}
.Navigation {
    color: #F3F6FB;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0px;
    padding: 6em;
    overflow: hidden;
    background-image: url("/Images/Africa.jpg");
}
.fill> .data{
    background-color: grey;
    padding: 50px;
    margin: 100px;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}
label {
    /* display: flex;
    flex-direction: row; */
    justify-content: left;
    text-align: right;
    width: ;
    line-height: 10px;
    margin-bottom: 10px;
}
  
