body{
    background-color: #F3F6FB;
}
.fill> .data{
    background-color: grey;
    padding: 50px;
    margin: 100px;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}
label {
    /* display: flex;
    flex-direction: row; */
    justify-content: left;
    text-align: right;
    width: ;
    line-height: 10px;
    margin-bottom: 10px;
}
  
