body{
    background-color: #919923;
}
.Navigation {
    color: #F3F6FB;
    background-image: url(Images/Africa.jpg);
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0px;
    padding: 4em;
    overflow: hidden;

}
ul li{
    margin-top: 170px;
}
.Navigation> ul li a{
    text-decoration: none;
    color: rgb(196, 146, 10);
    font-size: 35px;
    font-weight: 900;
}

.fill {
    background-color: grey;
    font-size: 20px;
    padding: 50px;
    margin: 100px;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}
input {
    
    text-align: left;
}
label {
    justify-content: left;
    text-align: right;
    line-height: 10px;
    margin-bottom: 10px;
}
footer{
    font-size: 20px;
    height: 30px;
    margin-top: 170px;
    background-color: gray;
    color: black;
    
}
.foot > footer{
    text-align: center;
}
