body {
    background-color: #c9cbce;
    font-size: 25px;
}
.Navigation {
    color: #F3F6FB;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0px;
    padding: 6em;
    overflow: hidden;
    /* background-image: url("/Images/Africa.jpg"); */
}

ul li:hover{
    color: #F3F6FB;
}
.container img{
    height: 370px;
    width: 500px;
    float: left;
    border-radius: 5%;
}
.container p{
    width: 60%;
    float: right;
}
footer{height: 100px;
    margin-top: 170px;
    background-color: gray;
    color: black;
    text-align: center;
}
