body {
    background-color: #F3F6FB;
    font-size: 25px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content:left;
    list-style-type: none;
    margin: 0px;
    padding: 6em;
    overflow: hidden;
    background-image: url(/Images/Africa.jpg);
}
.container img{
    height: 370px;
    width: 500px;
    float: left;
    border-radius: 5%;
}
.container p{
    width: 60%;
    float: right;
}
